.button-container {
    position: relative;
    z-index: 2; /* Ensure buttons are above the image */
    margin-top: -100px; /* Adjust this value to control the overlap */
    width: 100%;
    padding-top: 60px;
}

/* Style to increase the button size */
.button-container .btn-lg {
    padding: 15px 30px; /* Increase padding to make buttons larger */
    font-size: 1.25rem; /* Increase font size */
}

/* Media query for smaller screens */
@media (max-width: 800px) {
    .button-container .btn-lg {
        padding: 0.3rem 0.6rem; /* Decrease padding */
        font-size: 0.8rem; /* Optionally decrease font size */
        margin-bottom: 10px; /* Add space between buttons */
    }

    .button-container .row:not(:last-child) {
        margin-bottom: 15px; /* Add space between rows of buttons if there are multiple rows */
    }
}