.card {
  border: solid black 0.15em;
  border-bottom-right-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
}

.card-img {
  border-bottom: solid black 0.15em;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.card-footer {
  padding: 0rem;
  border-bottom-right-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
}

.info-container {
  text-align: left; /* Align text content to the left */
}

.info-list {
  list-style: none; /* Remove default list styles */
  padding: 0.5rem; /* Remove default padding */
}

.info-list li {
  margin: 0; /* Remove margin */
  padding: 0; /* Remove padding */
}

#facility {
  font-size: 16px;
  font-weight: bold;
}

#campus, #floor {
  font-size: 19px;
}

.btn-custom {
  font-size: 20px;
}

.btn-primary {
  background-color: #F8B300;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  color: #333333;
  border: black;
  width: 100%;
}

.btn-primary:hover {
  background: #555555 !important;
}

.btn-primary:focus {
  background-color: #F8B300;
}

.favorite-star-button {
  position: absolute;
  top: 10px; /* Adjust if needed */
  left: 10px; /* Adjust if needed */
  background-color: white; /* Ensure visibility */
  z-index: 1;
  width: 50px; /* Increase size for visibility */
  height: 50px; /* Increase size for visibility */
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.favorite-star-button:hover {
  background-color: #F8B300;  /* Change background color on hover */
  cursor: pointer; /* Change cursor to pointer to indicate clickable */
  transform: scale(1.2); /* Slightly increase size for visual feedback */
  transition: transform 0.3s ease, background-color 0.3s ease; /* Smooth transition for transform and background color */
}

.favorite-star-button.favorite-active {
  background-color: #F8B300;
}

/* Maintain the hover effect for the active state as well */
.favorite-star-button.favorite-active:hover {
  background-color: #555555; /* Different color for active state on hover */
}

.cardImage {
  position: relative;
}

